@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
    --black: rgb(10, 10, 10);
    --grey: rgb(22, 21, 21);
    --white: rgb(245, 245, 245);
    --yellow: rgb(255, 255, 0);
    --red: rgb(255, 0, 0);
    --green: rgb(0, 128, 0) ;
    --blue: rgb(0, 0, 255);
    --light-black: rgb(10, 10, 10, 0.3);
    --light-grey: rgb(22, 21, 21, 0.3);
    --light-white: rgb(245, 245, 245, 0.3);
    --light-yellow: rgb(255, 255, 0, 0.3);
    --light-red: rgb(255, 0, 0, 0.3);
    --light-green: rgb(0, 128, 0, 0.3) ;
    --light-blue: rgb(0, 0, 255, 0.3);
    --medium-white:rgb(245, 245, 245, 0.7);
}

body {
background-color: var(--black);
font-family: 'IBM Plex Mono', sans-serif;
color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.main-title {
    height: 15vh;
    display: grid;
    place-items: center;
    grid-template-rows: 2fr 1fr;
}

h1 {
    font-size: 3rem;
}

h1 a {
    color: var(--white);
    text-decoration: none;
}

h2 {
    font-size: 1.2rem;
}

h2 span:nth-of-type(1), h2 span:nth-of-type(8), h2 span:nth-of-type(9) {
    color: var(--red);
}

h2 span:nth-of-type(2), h2 span:nth-of-type(7) {
    color: var(--green);
}

h2 span:nth-of-type(3), h2 span:nth-of-type(5) {
    color: var(--yellow);
}

h2 span:nth-of-type(4), h2 span:nth-of-type(6) {
    color: var(--blue);
}

.instruction-container, .game-container {
    display: grid;
    width: 95vw;
    height: 75vh;
    padding: 10px;
    border: 5px solid var(--white);
    border-radius: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px auto;
    column-gap: 5px;
    place-items: center;
    position: relative;
    overflow: hidden;
}

.instruction-steps {
    border: 2px solid var(--white);
    text-align: center;
    position: relative;
    height: 90%;
    border-radius: 20px;
    display: grid;
    place-items: center;
    line-height: 2;
    padding: 0 20px;

}

.instruction-steps p {
    margin-bottom: 10px;
}


#instruction-two {
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    color: var(--grey)
}

#instruction-three {
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    color: var(--grey)
}

@keyframes appear {
from
     {
        color: var(--grey)
}

to {
    color: var(--white)

}

}

#continue {
    position: absolute;
    bottom: 5px;
    padding: 15px 15px;
    background-color: whitesmoke;
    color: var(--black);
    text-decoration: none;
    border-radius: 5px;
}

/* 
Game 1 */

.game-area {
    background-color: var(--grey);
    width: 95vw;
    height: 75vh;
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    place-items: center;
    padding:5px;
}

.game-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}

.buttons-area {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.button {
    place-self: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid var(--light-white);
}

.yellow {
background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}

.blue {
background-color: var(--blue);
}

.red {
    background-color: var(--red);
}
        
.button:hover {
    border-width: 3px;
    border-color: var(--medium-white);
}



.button:active{
    opacity: 0.6;
}


.colour-display-area, .user-display-area {
    display: grid;
    place-items: center;
    height: 100%;
}

.colour-display, .user-display {
    height: 90%;
    width: 300px;
    border: 1px solid rgba(245, 245, 245, 0.3);
    border-radius: 5px;
    background: repeating-linear-gradient(
  to right,
  var(--black) 10px,
  var(--grey) 20px,
  var(--black) 10px

);
display: grid;
}

#colour-display-text, #user-display-text {
    place-self: center;
}

#start-game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 70px;
    width: 140px;
    background: var(--white);
    outline: 1px solid var(--black);
    outline-offset: -5px;
    border-radius: 10px;
    animation-name: start-appear;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    z-index: -1;
    color:var(--black);
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 2rem;
}


@keyframes start-appear {
    0% {
        z-index: 0;
        opacity: 0;
    }
    
    100% {
        z-index: 3;
        opacity: 1;
    }
}